/* layout style*/

body {
    background: url(./images/background.jpg) fixed;
}

.monster-zoo {
    display: grid;
    grid-template-columns: 25% auto 25%;
    grid-gap: 20px;
}

/* style for monster configurator */
.monster-configurator-wrapper {}

.monster-configurator {
    border: 1px solid black;
    background-color: #c0c0c0;
    padding: 10px;
    border-radius: 12px;
}

label{
    font-family: "Comic Sans MS";
}

p{
    font-family: "Comic Sans MS";
}

/* style for board */

.grid-wrapper {}

.grid-regions {
    display: flex;
}

.select-region {
    display: flex;
    margin-left: 30px;
}

.select-region>button {
    border: none;
    color: white;
    padding: 0px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 5px;
    border-radius: 12px;
    font-family: "Comic Sans MS";
    font-weight: bold;
}

.select-region>button#Jungle {
    background-color: 	#228B22;
    /* Green */
}

.select-region>button#Sjahari {
    background-color: #c2b280;
}

.select-region>button#IcePole {
    background-color: #0074D9;
}

.region {
    margin: auto;
    display: table;
    padding: 5px;
}

.monsterImageHolder .monster-image-properties {
    visibility: hidden;
    width: 200px;
    max-height: 130px;
    overflow: auto;
    background-color: darkslategrey;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.monsterImageHolder:hover .monster-image-properties {
    visibility: visible;
}

/* style for special attack */
.gif-holder {
    margin-top: 15px;
    height: 25%;
    position: inherit;
}

.gif-holder .specialAttack{
    width: 100%;
    height: 100%;
}


/* style for weather */

.weather-box-wrapper {}

.weather-box {
    border: 1px solid black;
    background-color: #c0c0c0;
    padding-left: 10px;
    border-radius: 25%;
}

.weather-box label {
    padding-left: 100px;
}

.weather-box p {
    padding-left: 25px;
}

.weather-box h4 {
    margin-block-start: 0.7em;
    margin-block-end: 0.7em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* style for a tile */

.tile {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    font-size: 15px;
    text-align: center;
    width: 50px;
    height: 50px;
}

.tile[climateType='Jungle'] {
    background-color: #29AB87;
}

.tile[climateType='IcePole'] {
    background-color: #aad4e5;
}

.tile[climateType='Sjahari'] {
    background-color: #edc9af;
}

.tile[available='false'] {
    background-color: white;
}

.tileRow {
    display: flex;
    flex-wrap: wrap;
}

.changeColor {
    animation-name: changeColor;
    animation-duration: 5s;
}


@keyframes changeColor {
    0% {
        background-color: red;
    }
    25% {
        background-color: yellow;
    }
    50% {
        background-color: blue;
    }
    100% {
        background-color: pink;
    }
}

/* style for the image of the monster in the monster-configurator */

.monsterImage[place=monster-configurator] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
}

/* style for the image of the monster on the board */

.monsterImage[place=board] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45px;
    height: 45px;
}

/* form style */

.search-box-container input[type=text], select {
    width: 70%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Comic Sans MS";
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Comic Sans MS";
}

input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Comic Sans MS";
}


input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Comic Sans MS";
}

.search-box-container #search-button {
    width: 20%;
    height: 35px;
    font-family: "Comic Sans MS";
}

input[type=submit]:hover {
    background-color: #45a049;
    font-family: "Comic Sans MS";
}

.delete {
    width: 100%;
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: "Comic Sans MS";
}

.error {
    color: red;
    font-family: "Comic Sans MS";
}

/* style for html elements*/

h1 {
    color: #F4A460;
    font-family: "Comic Sans MS";
}
